# Ignorar la carpeta de compilación de Maven
target/

# Ignorar archivos compilados sueltos
*.class

# Ignorar el archivo de variables de entorno locales
.env
application-local.properties

# Ignorar configuraciones de los IDEs (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.project
.classpath
.settings/

# Ignorar